body {
    margin: 1.5em;
    font-family: 'Poppins', sans-serif;
    color: #006491;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
}

.back-image {
    position: absolute;
    top: 0;
    left: 0;
    background: url('../assets/images/four.jpg');
    background-size: cover;
    background-position-x: 20%;
    background-position-y: 20%;
    width: 100%;
    height: 100vh;
    z-index: -1;
    animation: load 2s forwards;
}

.logo {
    color: 006491;
    font-weight: bold;
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    height: 100vh;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;

    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 8em;

        a {
            color: #006491;
            padding: .75em 2em;
            display: block;

            &:hover {
                background: rgb(235, 235, 235);
            }
        }
    }

    .close {
        float: right;
        margin: 2em;
        width: 2.5em;
    }
}

header {
    display: flex;
    justify-content: space-between;

    svg {
        width: 2.3em;
        margin-top: -.6em;
        cursor: pointer;
    }
}

h1 {
    font-size: 3rem;
    margin-top: 2em;
    line-height: 3.3rem;
}

.subhead {
    font-size: 1.4rem;
}

section.hero {
    color: 006491;
    height: 90vh;
    animation: moveDown 1s ease-in-out forwards;
    opacity: 0;

    .down-arrow {
        stroke: white;
        position: absolute;
        bottom: 8em;
        width: 1em;
        animation: moveArrow 1s infinite;

        path {
            fill: white;
        }
    }
}

.more-info {

    img {
        width: 100%;
        object-fit: cover;
        height: 11em;
    }

    .title {
        font-weight: bold;
        font-size: 1.25rem;
    }

    .desc {
        line-height: 1.5rem;
    }
}

.open-nav {
    transform: translateX(0%);
}

@media only screen and (min-width: 680px) {

    body {
        margin: 1.5em 5em;
        font-family: 'Poppins', sans-serif;
    }

}

@media only screen and (min-width: 920px) {

    .menu {
        display: none;
    }

    nav {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;

        svg.close {
            display: none;
        }

        ul {
            display: flex;
            margin: 0;

            a {
                color: 006491;
                padding: .5em 1.5em;
                font-size: .9rem;

                &:hover {
                    background: none;
                    text-decoration: underline;
                }
            }
        }
    }

    .back-image {
        left: unset;
        right: 0;
        width: 50%;
        height: 42em;
    }

    .logo {
        color: #006491;

        span {
            color: black;
        }
    }

    section.hero {
        color: #006491;
        height: auto;
        width: 40%;
        margin-bottom: 8em;

        .subhead {
            margin-bottom: 3em;
        }

        svg.down-arrow {
            stroke: #006491;
            ;
            position: unset;

            path {
                fill: #006491;
                ;
            }
        }
    }

    .feature {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 3em;
        margin-bottom: 8em;

        img {
            width: 25em;
        }

        .content {
            text-align: right;
            width: 25em;
        }
    }

    .feature.left {
        grid-template-areas:
            "left right";

        img {
            grid-area: left;
        }

        .content {
            text-align: left;
            width: 25em;
            justify-self: left;
        }
    }

}


@media only screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        margin: 0 auto;
    }

    .feature {
        gap: 0;
    }
}

@keyframes load {
    from {
        clip-path: polygon(0 74%, 100% 72%, 100% 100%, 0% 100%);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes moveArrow {
    from {
        transform: translateY(-30px)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes moveDown {
    from {
        transform: translateY(-100px)
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.display-section {
    .display-button {
        display: grid;
        grid-template-columns: repeat(1, auto);
        margin-bottom: 8em;

        a {
            text-decoration: none;
            padding: 12px 40px;
            border-radius: 3 ̰0px;
            background: #006491;
            display: inline-block;
            color: #fff;
            font-weight: 700;
            margin-top: 35px;
            transition: all 0.5s ease-in-out;
            box-shadow: 5px 8px 10px rgb(0 0 0 / 10%);
            justify-content: center;
            align-items: center;
        }

        a:hover {
            background-color: #0f76a6;
            transform: scale(1.1);
        }

        .display-text {
            text-align: center;
            vertical-align: middle;

        }
    }
}


.demo {

    img {
        width: 100%;
        height: auto;
        vertical-align: sub;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .clr {
        clr: both;
    }

    .align-left {
        text-align: left;
    }

    .align-right {
        text-align: right;
    }

    .align-center {
        text-align: center;
    }

    .icon {
        background: url(https://s.cdpn.io/6035/glyphicons-halflings-white.png) no-repeat;
        display: inline-block;
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-top: 1px;
        line-height: 14px;
        vertical-align: text-top;
        background-position: 14px 14px;
    }

    .icon-plus {
        background-position: -408px -96px;
    }

    .icon-minus {
        background-position: -433px -96px;
    }

    .icon-remove {
        background-position: -312px 0;
    }

    .btn-quantity {
        transition: background-color 0.3s ease;
        font-size: 0.8em;
        box-shadow: 0 0 5px #0003;
        border-radius: 20px;
        padding: 10px 15px;

        &.plus {
            color: #478298;

            &:hover {
                color: darken(#e31837, 10%);
            }
        }

        &.minus {
            color: #478298;

            &:hover {
                color: darken(#e31837, 10%);
            }
        }
    }

    .btn-remove {
        position: absolute;
        bottom: 20px;
        right: 20px;
        z-index: 10;
        text-align: center;
        display: inline-block;
        color: #e94343;
        font-size: 1.4em;

        &:hover {
            color: darken(#1d1e22, 10%);
        }

        .icon {
            margin-top: 2px;
        }
    }

    .btn-checkout {
        color: #fff;
        text-decoration: none;
        margin: 20px 0 0;
        padding: 10px 0;
        border-radius: 5px;
        text-align: center;
        display: block;
        line-height: 25px;
        box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.3);
        transition: background-color 0.3s ease;
        background: #478298;
        width: 40%;
        font-size: 2em;

        &:hover {
            background: darken(#e31837, 10%);
        }
    }

    .items {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .item {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        position: relative;
        display: flex;

        .inner_container {
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            border-radius: 10px 0 0 10px;
        }

        .preview {
            width: 20%;

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                position: relative;
                height: 100%;
            }

            li {
                position: absolute;
                top: 0;
                opacity: 0;

                &.active {
                    opacity: 1;
                }
            }
        }

        .details {
            padding: 0px 30px;
            position: relative;
            overflow: hidden;
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            h3 {
                margin: 0;
                position: relative;
                z-index: 1;
                font-size: 2.6em;
            }

            p {
                font-size: 1em;
            }

            input[type="number"] {
                width: 50px;
                height: 30px;
                padding: 2px;
                outline: none;
                border-radius: 5px;
                border: none;
                border: 1px solid #ccc;
            }
        }
    }

    .summary {
        padding: 20px;
        background: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin-bottom: 80px;

        .meta-data {
            border-right: 1px solid #eee;
            padding-right: 10%;
        }

        .total {
            font-size: 2em;
            text-align: center;
            line-height: 65px;
        }
    }

    // .container {
    //     max-width: 1140px;
    //     margin: 0 auto;
    //     padding: 0 50px;
    //     margin-top: 200px;
    // }

    .picker {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .quantity-text {
        margin: 0 20px;
        font-size: 1.2em;
    }

    .sub-total,
    .taxes {
        font-size: 1.5em;
        margin: 10px 0;
    }

    .btn-summary {
        display: flex;
        justify-content: space-around;
    }

    .btn-reverse {
        background-color: #fff;
        color: #478298;
        border: 1px solid #478298;
    }

    .delivery-payment {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
    }

    .delivery-address,
    .payment-details {
        width: 49%;
        border-radius: 10px;
        box-shadow: 0 0 5px #00000030;
        background-color: #fff;
        padding: 0px 30px 30px 30px;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 2em;
    }

    .coupon {
        display: flex;
        border-radius: 10px;
        box-shadow: 0 0 5px #00000030;
        background-color: #fff;
        padding: 5px 30px;
        align-items: center;
        margin-bottom: 20px;

        & h3 {
            margin-right: 30px;
            font-size: 2em;
        }
    }

    input {
        border-radius: 10px;
        height: 40px;
    }

    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 30px;
        background-color: #e6e1dd;
        height: 150px;
        margin-bottom: 80px;
        position: fixed;
        width: 100%;
        margin-top: -200px;
        z-index: 99999;
    }

    .login a {
        text-decoration: none;
        color: #575756;
    }

    .logo {
        padding: 0 20px;
    }

    h1 {
        font-size: 4em;
    }

    .summary-content {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }


    @media only screen and (max-width: 900px) {
        h1 {
            font-size: 3em;
        }

        .item .details h3 {
            font-size: 1.6em;
        }

        .quantity-text {
            font-size: 1em;
        }

        .btn-remove {
            right: 15px;
            font-size: 1.4em;
        }

        .item .details p {
            font-size: 0.8em;
        }

        .picker {
            margin-right: 10px;
        }

        .btn-quantity {
            font-size: 0.6em;
        }
    }

    @media only screen and (max-width: 768px) {

        .item {
            flex-direction: column;
            margin: auto;
            margin-bottom: 30px;
        }

        .item .preview {
            width: 100%;
        }

        .item .details {
            padding: 15px 30px;
            width: 100%;
        }

        .item img {
            border-radius: 10px 10px 0 0;
        }

        .item .details h3 {
            font-size: 2.6em;
            text-align: center;
        }

        h1 {
            font-size: 4em;
        }

        .header {
            margin-bottom: 50px;
            height: 80px;
            margin-top: -120px;
        }

        .item .details p {
            font-size: 1em;
            text-align: center;
        }

        .item .inner_container {
            width: 100%;
            margin-bottom: 20px;
        }

        .grid_12.summary {
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 99999;
            width: 100%;
            margin-bottom: 0;
        }

        .container {
            margin-bottom: 230px;
            margin-top: 120px;
        }

        .sub-total,
        .taxes {
            font-size: 1em;
        }

        .summary .total {
            font-size: 1.6em;
            line-height: 1em;
            margin: 10px 0;
        }

        .delivery-payment {
            margin-top: 60px;
        }

        .coupon {
            flex-direction: column;
            padding: 30px 0px;
        }

        .coupon h3 {
            margin: 0;
        }

        .btn-checkout {
            font-size: 1.6em;
        }

        .logo {
            width: 50%;
        }
    }

    @media only screen and (max-width: 480px) {
        .btn-checkout {
            font-size: 1.2em;
        }

        .container {
            padding: 0 30px;
        }

        .btn-remove {
            font-size: 1.2em;
        }

    }

}

.new {

    .show-row {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 3em;
        margin-bottom: 8em;
    }

    .ref {
        width: 15em;
    }

    .check{
        width: 100%;
    }

}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




