@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  margin: 1.5em;
  font-family: "Poppins", sans-serif;
  color: #006491;
}

a {
  text-decoration: none;
  font-size: 1.3em;
}

.back-image {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../assets/images/background-pizza-img.jpg");
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 20%;
  width: 100%;
  height: 100vh;
  z-index: -1;
  -webkit-animation: load 2s forwards;
          animation: load 2s forwards;
}

.logo {
  font-weight: bold;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  height: 100vh;
  width: 50%;
  z-index: 999;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}
nav ul a {
  color: #006491;
  padding: 0.75em 2em;
  display: block;
}
nav ul a:hover {
  background: rgb(235, 235, 235);
}
nav .close {
  float: right;
  margin: 2em;
  width: 2.5em;
}

header {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 3rem;
  margin-top: 2em;
  line-height: 3.3rem;
}

.subhead {
  font-size: 1.4rem;
}

section.hero {
  color: 6491;
  height: 90vh;
  -webkit-animation: moveDown 1s ease-in-out forwards;
          animation: moveDown 1s ease-in-out forwards;
  opacity: 0;
}
section.hero .down-arrow {
  stroke: white;
  position: absolute;
  bottom: 8em;
  width: 1em;
  -webkit-animation: moveArrow 1s infinite;
          animation: moveArrow 1s infinite;
}
section.hero .down-arrow path {
  fill: white;
}

.more-info img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 11em;
}
.more-info .title {
  font-weight: bold;
  font-size: 1.25rem;
}
.more-info .desc {
  line-height: 1.5rem;
}

.open-nav {
  transform: translateX(0%);
}

@media only screen and (min-width: 680px) {
  body {
    margin: 1.5em 5em;
    font-family: "Poppins", sans-serif;
  }
}
@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }
  nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav svg.close {
    display: none;
  }
  nav ul {
    display: flex;
    margin: 0;
  }
  nav ul a {
    color: 6491;
    padding: 0.5em 1.5em;
    font-size: 0.9rem;
  }
  nav ul a:hover {
    background: none;
    text-decoration: underline;
  }
  .back-image {
    left: unset;
    right: 0;
    width: 50%;
    height: 42em;
  }
  .logo {
    color: #006491;
  }
  .logo span {
    color: black;
  }
  section.hero {
    color: #006491;
    height: auto;
    width: 40%;
    margin-bottom: 8em;
  }
  section.hero .subhead {
    margin-bottom: 3em;
  }
  section.hero svg.down-arrow {
    stroke: #006491;
    position: unset;
  }
  section.hero svg.down-arrow path {
    fill: #006491;
  }
  .feature {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3em;
    margin-bottom: 8em;
  }
  .feature img {
    width: 25em;
  }
  .feature .content {
    text-align: right;
    width: 25em;
  }
  .feature .button {
    border-radius: 4px;
    background-color: #006491;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    width: 250px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 5px;
  }
  .feature .button a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #fff;
    font-size: 0.9em;
  }
  .feature .button#add-to-cart-btn a:after {
    content: "»";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .feature .button#add-to-cart-btn:hover a {
    padding-right: 25px;
  }
  .feature .button#add-to-cart-btn:hover a:after {
    opacity: 1;
    right: 0;
  }
  .feature.left {
    grid-template-areas: "left right";
  }
  .feature.left img {
    grid-area: left;
  }
  .feature.left .content {
    text-align: left;
    justify-self: left;
  }
  .feature.left .button a:before {
    content: "«";
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
  }
  .feature.left .button:hover a {
    padding-left: 25px;
  }
  .feature.left .button:hover a:before {
    opacity: 1;
    left: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  .feature {
    gap: 0;
  }
}
@-webkit-keyframes load {
  from {
    -webkit-clip-path: polygon(0 74%, 100% 72%, 100% 100%, 0% 100%);
            clip-path: polygon(0 74%, 100% 72%, 100% 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes load {
  from {
    -webkit-clip-path: polygon(0 74%, 100% 72%, 100% 100%, 0% 100%);
            clip-path: polygon(0 74%, 100% 72%, 100% 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@-webkit-keyframes moveArrow {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes moveArrow {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.display-section .display-button {
  display: grid;
  margin-bottom: 4em;
}
.display-section .display-button a {
  padding: 12px 40px;
  border-radius: 30px;
  background: #006491;
  color: #fff;
  font-weight: 700;
  margin-top: 35px;
  transition: all 0.5s ease-in-out;
}
.display-section .display-button a:hover {
  transform: scale(1.1);
}
.display-section .display-button .display-text {
  text-align: center;
  vertical-align: middle;
}

.demo img {
  width: 100%;
  height: auto;
  vertical-align: sub;
}
.demo .left {
  float: left;
}
.demo .right {
  float: right;
}
.demo .clr {
  clr: both;
}
.demo .align-left {
  text-align: left;
}
.demo .align-right {
  text-align: right;
}
.demo .align-center {
  text-align: center;
}
.demo .icon {
  background: url(https://s.cdpn.io/6035/glyphicons-halflings-white.png) no-repeat;
  display: inline-block;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  background-position: 14px 14px;
}
.demo .icon-plus {
  background-position: -408px -96px;
}
.demo .icon-minus {
  background-position: -433px -96px;
}
.demo .icon-remove {
  background-position: -312px 0;
}
.demo .btn-quantity {
  transition: background-color 0.3s ease;
  font-size: 0.8em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 10px 15px;
}
.demo .btn-quantity.plus {
  color: #478298;
}
.demo .btn-quantity.plus:hover {
  color: #b5132c;
}
.demo .btn-quantity.minus {
  color: #478298;
}
.demo .btn-quantity.minus:hover {
  color: #b5132c;
}
.demo .btn-remove {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  text-align: center;
  display: inline-block;
  color: #e94343;
  font-size: 1.4em;
}
.demo .btn-remove:hover {
  color: #060606;
}
.demo .btn-remove .icon {
  margin-top: 2px;
}
.demo .btn-checkout {
  color: #fff;
  text-decoration: none;
  margin: 20px 0 0;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
  display: block;
  line-height: 25px;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  background: #478298;
  width: 40%;
  font-size: 2em;
}
.demo .btn-checkout:hover {
  background: #b5132c;
}
.demo .items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.demo .item {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
  display: flex;
}
.demo .item .inner_container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.demo .item img {
  border-radius: 10px 0 0 10px;
}
.demo .item .preview {
  width: 20%;
}
.demo .item .preview ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  height: 100%;
}
.demo .item .preview li {
  position: absolute;
  top: 0;
  opacity: 0;
}
.demo .item .preview li.active {
  opacity: 1;
}
.demo .item .details {
  padding: 0px 30px;
  position: relative;
  overflow: hidden;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.demo .item .details h3 {
  margin: 0;
  position: relative;
  z-index: 1;
  font-size: 1.25rem;
}
.demo .item .details p {
  font-size: 1em;
}
.demo .item .details input[type=number] {
  width: 50px;
  height: 30px;
  padding: 2px;
  outline: none;
  border-radius: 5px;
  border: none;
  border: 1px solid #ccc;
}
.demo .summary {
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 80px;
}
.demo .summary .meta-data {
  border-right: 1px solid #eee;
  padding-right: 10%;
}
.demo .summary .total {
  font-size: 1.25em;
  text-align: center;
  line-height: 65px;
}
.demo .picker {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.demo .quantity-text {
  margin: 0 20px;
}
.demo .sub-total,
.demo .taxes {
  font-size: 1.5em;
  margin: 10px 0;
}
.demo .btn-summary {
  display: flex;
  justify-content: space-around;
}
.demo .btn-reverse {
  background-color: #fff;
  color: #478298;
  border: 1px solid #478298;
}
.demo .delivery-payment {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.demo .delivery-address,
.demo .payment-details {
  width: 49%;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1882352941);
  background-color: #fff;
  padding: 15px 30px 30px 30px;
  margin-bottom: 20px;
}
.demo .delivery-address p,
.demo .payment-details p {
  font-size: 0.8rem;
  padding-top: 15px;
}
.demo h3 {
  font-size: 1.25rem;
}
.demo .coupon {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1882352941);
  background-color: #fff;
  padding: 5px 30px;
  align-items: center;
  margin-bottom: 20px;
}
.demo .coupon .apply-coupon {
  width: 49%;
}
.demo .coupon h3 {
  margin-right: 30px;
  font-size: 1.25rem;
}
.demo input {
  border-radius: 10px;
  height: 40px;
}
.demo .coupon-input {
  float: right;
}
.demo .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  background-color: #e6e1dd;
  height: 150px;
  margin-bottom: 80px;
  position: fixed;
  width: 100%;
  margin-top: -200px;
  z-index: 99999;
}
.demo .login a {
  text-decoration: none;
  color: #575756;
}
.demo .logo {
  padding: 0 20px;
}
.demo h1 {
  font-size: 4em;
}
.demo .summary-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
@media only screen and (max-width: 900px) {
  .demo h1 {
    font-size: 3em;
  }
  .demo .item .details h3 {
    font-size: 1.6em;
  }
  .demo .quantity-text {
    font-size: 1em;
  }
  .demo .btn-remove {
    right: 15px;
    font-size: 1.4em;
  }
  .demo .item .details p {
    font-size: 0.8em;
  }
  .demo .picker {
    margin-right: 10px;
  }
  .demo .btn-quantity {
    font-size: 0.6em;
  }
}
@media only screen and (max-width: 768px) {
  .demo .item {
    flex-direction: column;
    margin: auto;
    margin-bottom: 30px;
  }
  .demo .item .preview {
    width: 100%;
  }
  .demo .item .details {
    padding: 15px 30px;
    width: 100%;
  }
  .demo .item img {
    border-radius: 10px 10px 0 0;
  }
  .demo .item .details h3 {
    font-size: 2.6em;
    text-align: center;
  }
  .demo h1 {
    font-size: 4em;
  }
  .demo .header {
    margin-bottom: 50px;
    height: 80px;
    margin-top: -120px;
  }
  .demo .item .details p {
    font-size: 1em;
    text-align: center;
  }
  .demo .item .inner_container {
    width: 100%;
    margin-bottom: 20px;
  }
  .demo .grid_12.summary {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    margin-bottom: 0;
  }
  .demo .container {
    margin-bottom: 230px;
    margin-top: 120px;
  }
  .demo .sub-total,
.demo .taxes {
    font-size: 0.6em;
  }
  .demo .summary .total {
    font-size: 1.6em;
    line-height: 1em;
    margin: 10px 0;
  }
  .demo .delivery-payment {
    margin-top: 60px;
  }
  .demo .coupon {
    flex-direction: column;
    padding: 30px 0px;
  }
  .demo .coupon h3 {
    margin: 0;
  }
  .demo .btn-checkout {
    font-size: 1em;
  }
  .demo .logo {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .demo .btn-checkout {
    font-size: 1.2em;
  }
  .demo .container {
    padding: 0 30px;
  }
  .demo .btn-remove {
    font-size: 1.2em;
  }
}

.new .show-row {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 3em;
  margin-bottom: 8em;
}
.new .ref {
  width: 15em;
  height: 10em;
  background-size: cover;
}
.new .check {
  width: 100%;
}

body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #848484;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #006491;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #006491;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
.common-three-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.coupon-demo {
  /* Helpers */
  /* Removes the announcement on Print */
}
.coupon-demo body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.coupon-demo .is-hidden {
  display: none !important;
}
.coupon-demo .is-desktop {
  display: block;
}
@media (max-width: 768px) {
  .coupon-demo .is-desktop {
    display: none !important;
  }
}
.coupon-demo .is-mobile {
  display: none !important;
}
@media (max-width: 768px) {
  .coupon-demo .is-mobile {
    display: block !important;
  }
}
.coupon-demo .announcement {
  --base-font: inherit;
  --small-font: 0.75rem;
  --normal-font: 1rem;
  --medium-font: 1.25rem;
  --primary-color: #FA003F;
  --secondary-color: #fff;
  --base-padding: 0.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  font-family: var(--base-font-dev), sans-serif;
  padding: var(--base-padding);
}
@media (max-width: 768px) {
  .coupon-demo .announcement {
    flex-direction: column-reverse;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 4;
  }
}
@media print {
  .coupon-demo .announcement {
    display: none;
  }
}
.coupon-demo .announcement .text {
  padding: 0 1rem;
  color: var(--secondary-color);
}
@media (max-width: 768px) {
  .coupon-demo .announcement .text {
    padding-bottom: var(--base-padding);
  }
}
.coupon-demo .announcement input,
.coupon-demo .announcement button {
  font-family: var(--base-font);
  font-size: var(--small-font);
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: var(--base-padding);
  border: 2px dashed var(--secondary-color);
  /* height: 36px; */
}
.coupon-demo .announcement input {
  background: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  border-right: 0;
  font-size: 16px;
}
.coupon-demo .announcement button {
  background: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
  box-shadow: none;
  border-radius: 0;
  font-size: 1rem;
}
.coupon-demo .announcement #timer {
  /* font-weight: bold; */
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: var(--base-padding);
  margin-left: 1rem;
  width: 150px;
  text-align: center;
  border: 1px dashed var(--secondary-color);
  margin-right: 2.5rem;
  line-height: 1.3;
}
.coupon-demo .announcement .coupon {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .coupon-demo .announcement .coupon {
    margin: 1rem auto;
  }
}
@media (min-width: 769px) {
  .coupon-demo .announcement .close {
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    left: inherit;
    right: 0.5rem;
    background: var(--secondary-color);
    color: var(--primary-color);
  }
}
.coupon-demo .announcement .tooltip {
  position: relative;
  display: inline-block;
  color: var(--secondary-color);
  opacity: 1;
  line-height: inherit;
  font-size: inherit;
  z-index: inherit;
}
.coupon-demo .announcement .tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  bottom: 130%;
  left: 50%;
  background-color: #555;
  color: #fff;
  width: 170px;
  font-size: smaller;
  /* font-weight: bold; */
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}
.coupon-demo .announcement .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  bottom: -100%;
}
.coupon-demo .announcement .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  top: -35%;
  transform: rotate(180deg);
}
@media (max-width: 768px) {
  .coupon-demo .announcement .tooltip:hover .tooltiptext {
    bottom: 150%;
  }
  .coupon-demo .announcement .tooltip .tooltiptext::after {
    top: 100%;
    transform: rotate(0deg);
  }
}

.test {
  margin: 15px;
  /* Don't need button navigation */
}
.test .slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.test .slides {
  display: flex;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.test .slides div {
  cursor: pointer;
}
.test .slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.test .slides::-webkit-scrollbar-track {
  background: transparent;
}
.test .slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.test .author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.test .author-info a {
  color: white;
}
.test img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.test .slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.test .slider > a:active {
  top: 1px;
}
.test .slider > a:focus {
  background: #000;
}
@supports (scroll-snap-type) {
  .test .slider > a {
    display: none;
  }
}
.test html,
.test body {
  height: 100%;
  overflow: hidden;
}
.test body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ropa Sans", sans-serif;
}/*# sourceMappingURL=main.css.map */